# Composer
/vendor/
/composer.lock

# Node
/node_modules/
/package-lock.json
/yarn.lock

# OS files
/.DS_Store
Thumbs.db

# IDE
/.vscode/
/.idea/

# Logs
/logs
*.log
.htaccess
ticket-system-dialysis.zip
process/debug.log
.vscode/sftp.json
vendor/
node_modules/
.env
.env.local
.vscode/
